.git
.dockerignore
__pycache__/*
scripts/*
crawler/*
data/*
!data/song_dataset/word2index.pkl
!data/song_dataset/index2word.pkl
proibidao/*
!proibidao/song_dataset/word2index.pkl
!proibidao/song_dataset/index2word.pkl
kondzilla/*
!kondzilla/song_dataset/word2index.pkl
!kondzilla/song_dataset/index2word.pkl
ostentacao/*
!ostentacao/song_dataset/word2index.pkl
!ostentacao/song_dataset/index2word.pkl
preprocessing/*
vagalume_crawler.py
vagalume_downloader.py
model.py
sample.py

